{% extends "base.html" %}
{% block title %}Video Index{% endblock %}
{% block body %}

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/redmond/jquery-ui.css" rel="stylesheet" />
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script> -->

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<!-- jPList -->
<link href="{{ url_for('static', filename='jplist.core.min.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static', filename='jplist.core.min.js') }}"></script>
<link href="{{ url_for('static', filename='jplist.textbox-filter.min.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static', filename='jplist.textbox-filter.min.js') }}"></script>
<!-- <link href="{{ url_for('static', filename='jplist.pagination-bundle.min.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static', filename='jplist.pagination-bundle.min.js') }}"></script>
 -->


<!-- Bootstrap YouTube Popup -->
<!-- <script src="{{ url_for('static', filename='bootstrap.youtubepopup.min.js') }}"></script> -->

<style>
.panel {
	overflow: auto;
}
.disabled {
	color: gray;
}
.name{
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}
</style>



<div class="container">
	<div class="header clearfix">
		<h2 class="text-muted">Hearthsim Science Video Archive</h2>
	</div>

	<div id="videos">
		<div class="panel panel-default">
			<div class="panel-body jplist-panel">
				<!-- filter by title -->
				<div class="text-filter-box">
					<input
						class="filter-box-input"
						data-path=".name"
						type="text"
						value=""
						placeholder="Filter by Name"
						data-control-type="textbox"
						data-control-name="title-filter"
						data-control-action="filter"
					/>
				</div>

				<!-- filter by tag -->
				<div class="text-filter-box">
					<input
						class="filter-box-input"
						id="tag-filter-box-input"
						data-path=".tag"
						type="text"
						value=""
						placeholder="Filter by Tag"
						data-control-type="textbox"
						data-control-name="tag-filter"
						data-control-action="filter"
					/>
				</div>

				<!-- filter by card -->
				<div class="text-filter-box">
					<input
						class="filter-box-input"
						id="card-filter-box-input"
						data-path=".card"
						type="text"
						value=""
						placeholder="Filter by Card"
						data-control-type="textbox"
						data-control-name="card-filter"
						data-control-action="filter"
					/>
				</div>

				<!-- filter by build -->
				<div class="text-filter-box">
					<input
						class="filter-box-input"
						id="build-filter-box-input"
						data-path=".build"
						type="text"
						value=""
						placeholder="Filter by Build"
						data-control-type="textbox"
						data-control-name="build-filter"
						data-control-action="filter"
					/>
				</div>

				<button type="button" class="btn btn-default" id="clear-filters-button">
					<span class="glyphicon glyphicon-erase" aria-hidden="true"></span> Clear filters
				</button>
			</div>
		</div>

		<div class="list text-shadow">

			{% for name, metadata in videos %}
			<div class="list-item panel panel-default">
				<div class="panel-heading">
					<h3 class="name">{{ name }}</h3>
				</div>

				<div class="col-sm-3">
					<h4>Video</h4>
					<button type="button" data-toggle="modal" data-target="#video-modal" data-video="{{ metadata['url'] }}" class="btn btn-default video-button btn-block" disabled="true">
						<img src="" alt="" class="pull-left video-thumbnail">
					</button>
				</div>

				<div class="col-sm-3">
					<h4>Build</h4>
					<div class="list-group">
						<li data-filter="build" class="build list-group-item">{{ metadata['build'] }}</li>
					</div>
				</div>

				<div class="col-sm-3">
					<h4>Tags</h4>
					<ul class="tags list-group">
						{% if metadata['tags'] %}
							{% for tag in metadata['tags'] %}
							<li data-filter="tag" class="tag list-group-item">{{ tag.strip() }}</li>
							{% endfor %}
						{% else %}
							<li data-filter="tag" class="tag list-group-item">Untagged</li>
						{% endif %}
					</ul>
				</div>

				<div class="col-sm-3">
					<h4>Cards</h4>
					<ul class="cards list-group">
						{% if metadata['cards'] %}
							{% for card in metadata['cards'] %}
							<li data-filter="card" class="card_nameid list-group-item">
								<span class="card">{{ card }}</span><!--  (<span class="card">GVG_000</span>) -->
							</li>
							{% endfor %}
						{% else %}
							<li data-filter="card" class="card_nameid list-group-item">
								<span class="card">None</span><!--  (<span class="card">None</span>) -->
							</li>
						{% endif %}
					</ul>
				</div>

				<div class="logs" style="display: none;">
					<h4>Logs</h4>
					<ul class="list-group">
						{% if metadata['logs'] %}
							{% for log in metadata['logs'] %}
							<li class="log_href list-group-item">
								<a class="log" href="{{ log }}">{{ log }}</a>
							</li>
							{% endfor %}
						{% else %}
							<li class="log_href list-group-item">
								<span class="log">None</span>
							</li>
						{% endif %}
					</ul>
				</div>

				<div class="issues" style="display: none;">
					<h4>Issues</h4>
					<ul class="list-group">
						{% if metadata['issues'] %}
							{% for log in metadata['issues'] %}
							<li class="log_href list-group-item">
								<a class="log" href="{{ log }}">{{ log }}</a>
							</li>
							{% endfor %}
						{% else %}
							<li class="log_href list-group-item">
								<span class="log">None</span>
							</li>
						{% endif %}
					</ul>
				</div>

				&nbsp;
			</div>
			{% endfor %}

			<!-- <div class="box jplist-no-results text-shadow align-center">
				<p>No results found</p>
			</div> -->

		</div>
	</div>

	<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="video-modal-title">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">×</button>
					<h4 class="modal-title" id="video-modal-title">Loading...</h4>
				</div>
				<div class="modal-body" id="video-modal-body">
					<iframe class="video-iframe" title="YouTube video player" width="100%" height="480" frameborder="0" allowfullscreen="" seamless=""></iframe>
					<div class="well video-description"></div>
					<div class="logs"></div>
					<div class="issues"></div>
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	$.fn.multiline = function(text){
		this.text(text);
		this.html(this.html().replace(/\n/g,'<br/>'));
		return this;
	}

	if(typeof(String.prototype.trim) === "undefined") {
		String.prototype.trim = function(){
			return String(this).replace(/^\s+|\s+$/g, '');
		};
	}

	$('document').ready(function(){
		$('#videos').jplist({
			itemsBox: '.list',
			itemPath: '.list-item',
			panelPath: '.jplist-panel'
		});

		$('.list-group-item').on( "click", function() {
			$('.filter-box-input').val("");
			var filter_by = $(this).data('filter');
			var filter = $('#' + filter_by + '-filter-box-input').val(this.textContent.trim());
			$('#tag-filter-box-input').trigger('keyup'); // refresh filtering
		});

		$('#clear-filters-button').on( "click", function() {
			$('.filter-box-input').val("");
			$('#tag-filter-box-input').trigger('keyup'); // refresh filtering
		});

		$('.video-button').each(function() {
			var that = this;
			$.ajax({
				url: "https://www.googleapis.com/youtube/v3/videos?id=" + $(this).data('video') + "&key={{ youtube_api_key }}&part=snippet",
				success: function(data){
					if (typeof(data.items[0]) != "undefined") {
						var video = data.items[0];
						//$(that).multiline();
						$(that).removeClass('disabled');
						$(that).find('.video-thumbnail').attr('src', video.snippet.thumbnails.default.url);
						$(that).attr("disabled", false);
					} else {
						$(that).text("Could not access video");
					}
				},
				error: function(d) {
					$(that).text("Could not access video");
				}
			});
		});

	});

	$('#video-modal').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget); // Button that triggered the modal
		var video_id = button.data('video');
		var modal = $(this);
		$.ajax({
			url: "https://www.googleapis.com/youtube/v3/videos?id=" + video_id + "&key={{ youtube_api_key }}&part=snippet",
			success: function(data){
				var video = data.items[0];
				modal.find('.modal-title').text(video.snippet.title);
				modal.find('.video-description').multiline(video.snippet.description);
				modal.find('.video-iframe').attr("src", "//www.youtube.com/embed/" + video_id + "?rel=0&amp;showsearch=0&amp;autohide=2&amp;autoplay=1&amp;controls=1&amp;fs=1&amp;loop=0&amp;showinfo=0&amp;color=red&amp;theme=light&amp;wmode=transparent");
				modal.find('.logs').html(button.parent().parent().find('.logs').html());
				modal.find('.issues').html(button.parent().parent().find('.issues').html());
			},
			error: function(d) {

			}
		});
	}).on('hidden.bs.modal', function () {
		var modal = $(this);
		modal.find('.modal-title').text("Loading...");
		modal.find('.video-description').text("");
		modal.find('.video-iframe').attr("src", "");
		modal.find('.logs').html("");
	});
</script>

{% endblock %}